@model codeFirstNV.Models.nhanvien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idphongban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idphongban)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
